table{
    border: 1px solid white
}

td{
    border: 1px solid white
}

footer{
         background-color: #6495ED

}

main{
      background-color: Yellow;
}

header{
     text-align: center;
     background-color: dodgerblue;
}
