table{
    border: 1px solid white;
}

td{
    border: 1px solid white;
}

footer{
         background-color: DodgerBlue;

}

main{
      background-color: DodgerBlue;
}

header{
     text-align: center;
}
